body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

@keyframes sliding {
    0% {
        background-color: aqua;
        top: 0;
    }

    100% {
        background-color: blue;
        top: 700px;
    }

}

.ball {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation: sliding 1s ease-in-out 0.5s 20 alternate;
    animation-play-state: running;

}

h1 {
    font-size: 50px;
    margin-top: 2px;

}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-bottom: 5%;

}

.full-width {
    width: 100%;
    padding-left: 5%;
    padding-bottom: 5%;

}

.half-width img {
    width: 70%;
}

.img-hover:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

.img-hover1:hover {
    transform: scale(1.1) rotate(60deg);
    transition: transform 2s;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;

}

.experience-item1 {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;

}

#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}